.bg {
    position:relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/pexels-helena-lopes-1378849.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150%;
    font-family: 'Merriweather', serif;
}